*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning:#ffc107;
    --bs-danger:#dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --z1:#232741;
    --z2:#2c2e43;
    --darkBodyP:#181818;
    --darkPretty: #333;
    --darkPretty2:#222;
    --yellowMostaza: #e8a900;
    --bg-whiteBlue:#F0F0F0;
    --bg-whiteSmooth:#FAFAFA;
    --azulWhite: #f2f6fc;
    --azulLight: #f6f8fc;
    --azulLite: #eaf1fb;
    --aL: #f5f6f7;
    
    --borders-light:#dbdbdb;
    --lightBlue:#03a9f4;

    /* Colores de whatsapp: */
    --wa-1: #005c4b;
    --wa-2: #44c554;
    --wa-3: #128c7e;

    /* Colores de famago */
    --naranjaFamago:#f18e00;
    --azulFamago:#003480;
    --lightFamago:#f1f1f1;

    --fa-1:var(--blueSound);
    --fa-2:#003480;
    --fa-3:#f1f1f1;

    --fa-1-1:#f5a22e;
    --gameLips:#be123c;

    /* Naranja */

    --reder:#E63946;
    --orangeBright: #FF3C0C;
    --orangeKiller:#EE6C4D;
    --redSound: #E63946;
    --redRoboto:#C72931;

    /* Azul */

    --blueSober: #264653;
    --blueBright: #317AC7;
    --blueRetro: #168AAD;
    --blueSound: #457B9D;

    /* Blanco */

    --whiteGrant: #eef3ff;

    /* Amarillo */
    --yell-1: #f3d661;
    --yell-2: #f2c84d;
    --yell-3: #f5c043;
    /* Negro */

    --black1: #283035;
    --black2: #303A40;
    --black3: #354249;

    /* Combinacion */
    --comb1: #ff0054;
    --comb2: #00002c;
    --comb3: #001966;
    --comb4: #eef3ff;

    --gradient-1:linear-gradient(to bottom right, #f3d661, #f2c84d, #f5c043);

    --bs-border: #dee2e6;
}

body{
    max-width: 100% !important;
    /* overflow-x: hidden !important; */
    scroll-behavior: smooth;          
    background-color:var(--fa-3);  
    /* height:1000vh; */
    font-family: 'Lato', sans-serif;
}

/* section{
    padding:20px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin: 40px auto;
} */
section{
    padding:40px 0;
}

/* ------------------------- NavBar ----------------------------- */

#menubar{
    max-height:50px;
    background-color:var(--fa-1);
    /* position:fixed; */
    left:0;
    top:0;
    width:100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    z-index:99;
}
#menubar li a{
    color:var(--fa-3);
    /* color: var(--bs-dark); */
    font-size:1.25em;
    font-weight: 600;
    transition: color .4s ease;
    text-decoration:none;

}
#menubar li a:hover{
    color: var(--bs-light);
    transition: color .4s ease;
}
#menubar ul{
    padding-left:0;
    width:60%;
    display:flex;
    justify-content:space-around;
    list-style: none;
    /* border:1px solid #000; */
    margin-top:10px;
}

.img-logo-nb{
    padding:5px 0;
    height:50px;
    max-height:50px;
}
.img-logo-nb img{
    max-width: 100%;
    max-height: 40px;
}
.text-fa-2{
    color:var(--fa-2) !important;
}
.dropdown-menu{
    background-color:var(--fa-1);
    transition: all .4s ease;
}
.dropdown-menu a:hover{
    background-color:var(--fa-1-1);
    transition: all .4s ease;

}
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .4s ease;
    animation: popDown 0.5s;
}

@keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }
/* ------------------------- Header Ofertas ----------------------------- */

.section-ofertas{
    padding:40px 0;
}

.globo-oferta{
    background: var(--gradient-1);
    border-radius: 40px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;

}
.cod-prod-globo{
    font-size:1.1em;
    color:var(--blueBright);
    font-weight:600;
}
.cont-text-oferta{
    display:flex;
    align-items:start;
    justify-content:end;
    height:400px;
}
.cont-prod-oferta{
    display:flex;
    justify-content:center;
    align-items:center;
}
.prod-oferta{
    /* border:1px solid red; */
    padding:20px;
    display:flex;
    justify-content:center;
}
.prod-oferta img{
    width:80%;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
    border-radius:10px;
}
.text-oferta{
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    height:100%;
}
.text-oferta h1{
    font-weight: 800;
    /* font-size:calc(1rem + 3.9vw); */
    /* color:var(--gameLips); */
    animation: cambia-color 1.3s ease-in-out infinite;
}
@keyframes cambia-color {
    0% {
        color: var(--bs-dark);
    }

    50% {
        color: var(--blueSound);
    }

    100% {
        color: var(--bs-dark);

    }
  }
.card-text-oferta{
    background-color:var(--bs-white);
    padding: 20px 30px;
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
    max-width:400px;

}
.card-text-oferta>p>span{
    color:var(--fa-2);
    font-size:1.3em;
    font-weight: 700;
}
.card-text-oferta>p{
    text-align: center;
}
.text-oferta a{
    align-self: end;
}
.btns-oferta{
    display:flex;
    gap:10px;
    justify-content: center;
}
.btn-oferta{
    /* margin-top:10px; */
    /* width:150px; */
    /* height:50px; */
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn-wa-oferta{
    padding:8px;
    width:150px;
    background:#25d366;
    color:var(--bs-light);
    font-weight: bold;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:5px;
    transition:all .4s ease;
    border:none;
    text-decoration:none;
}
.btn-wa-oferta span{
    font-size:1.3em;
    color:var(--bs-light);
}
.btn-wa-oferta:hover{
    background:#1cc459;
    transition:all .4s ease;
    color:var(--bs-white);

}

.text-fecha-oferta h4{
    color:var(--redSound);
}

/* ------------------------- Seccion de productos ----------------------------- */

/* .product-title{
    display:flex;
    justify-content:space-between;
} */
.product-title a{
    color:var(--fa-1);
    text-decoration:none;
    transition: color .4s ease;

}
.product-title a{
    color:var(--fa-1-1);
    transition: color .4s ease;
}



section .items{
    display:flex;
    /* padding:0; */
    /* justify-content: center;
    align-items:center; */
    /* flex-wrap:wrap; */
    /* flex: 1 0 auto; */
    margin-bottom:20px;
}

/* Carrusel */

.carrusel{
	display:flex;
	flex-wrap: nowrap;
	overflow: scroll;
    overflow-y:hidden;

}

section .items span{
    /* list-style: none; */
    /* background:#eee; */
    display:flex;
    justify-content:center !important;
    align-items:center;
    flex-wrap:nowrap;
    background:var(--bs-light);
    padding:6px 10px;
    margin:15px 5px;
    letter-spacing:1px;
    cursor:pointer;
    transition:background .4s ease;
    border-radius:5px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
    font-size:.9em;

}
section .items span:hover{
    background:var(--borders-light);
    /* background:var(--blueSober); */
    transition:background .4s ease;
}

section .items span.active{
    background:var(--gradient-1);
    transition:background .4s ease;
    /* color:var(--bs-light); */
}

.product{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    min-height:200px;
    /* border:1px solid var(--bs-secondary); */
}
.product-scrolleable{
    display:flex;
    justify-content:center;
    flex-wrap:nowrap;
    align-items:start;
    height:auto;
    overflow: scroll;
    overflow-y:hidden;
    width:50%;
    border:1px solid var(--bs-secondary);
}
.carrusel-product{
    display:flex;
	flex-wrap: nowrap;
	overflow: scroll;
    overflow-y:hidden;
}
.product-title{
    width:100%;
}

.product .itemBox{
    position:relative;
    width:270px;
    height:430px;
    margin:10px;
    display:block;
    transition:all .4s;
    overflow:hidden;
    border-radius:6px;
    border:1px solid var(--borders-light);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
}
.product .itemBox:hover{
    transform:scale(1.01);
    transition:all .4s;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.product .itemBox.hide, .product .hide{
    display:none;
    transition:all .4s;
}

.product .itemBox .image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* object-fit:cover; */
    background:var(--bs-white);
    border-radius:6px;
    

}

.image h3{
    color:#181818;
}

/* ----- Equiteta de oferta. Experimental (FUNCIONO) ----- */
.product .itemBox .image .oferta{
    display:flex;
    justify-content:center;
    align-items:end;
    height:100px;
    width:200px;
    position:absolute;
    top:-35px;
    right:-85px;
    transform: rotate(45deg);
    z-index:2;
    color:var(--bs-light);
    background-color:var(--redSound);
}
/* .product .itemBox .image .oferta span{
    border:1px solid #000;
} */


.product .itemBox .image .imgs {
    overflow:hidden;
    width:100%;
    height:57%;
}
.imgs img{
    width:100%;
    height:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    object-position: center;
    transition:all .4s ease;

}
.product .itemBox:hover .imgs img{
    transform:scale(1.05);
    transition:all .4s ease;
}
.tag-cod{
    position:absolute;
    transform:translateY(-25px);  
    background-color:var(--bs-white); 
    color:var(--blueBright);
    padding:1px 4px;
    border-top:1px solid var(--bs-border);
    border-right:1px solid var(--bs-border);
    border-top-right-radius: 3px;
    font-weight:600;
}
.product .itemBox .image .image-body{
    padding:10px 5px;
    height:53%;

} 

.image-body h5,h4{
    text-align: center;
}

.btns{
    position:absolute;
    bottom:10px;    
}

.btn-prod{
    width:150px !important;
    padding:8px;
    background:var(--fa-1);
    color:var(--bs-light);
    font-weight: 700;
    border:none;
    border-radius:5px;
    transition: all .4s ease;
    text-decoration:none;

}

.btn-prod:hover{
    background:var(--azulFamago);
    transition: all .4s ease;
    color:var(--bs-light);
}

.btns span{
    color:var(--fa-2);
    font-weight:700;
    font-size:1.2em;
}
.descuento span{
    color:var(--gameLips);    
}

.btns .row{
    /* border: 1px solid red; */
    width:100%;
    /* No quitar esta propiedad */
    transform:translateX(10px); 
}

.col-precios-cards{
    text-align: center;
}
.col-btns-cards{
    display:flex;
    flex-direction: column;
    justify-content:end;
    gap:5px;
}
.col-btns-cards a{
    width:100% !important;
}

.more-product{
    min-height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* border: 1px solid #000; */
    
}
a{
    text-decoration: none;
}
.more-product a{
    color:var(--bs-warning);
    transition: color .2s ease-in-out;
}
.more-product a:hover{
    transition: color .2s ease-in-out;
    color:var(--fa-1-1);
}

/* ----------------------------- show producto ------------------------------- */

.show-img img{
    width:60%;
}
 
.section-ver-producto{
    padding:10px 0;
}

.contenedor-producto{
    background-color: var(--bs-white);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
    border-radius: 10px;


}
.contenedor-img-prod{
    overflow:hidden;
    height:500px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.contenedor-img-prod img{
    width:100%;
}

.desc-prod{
    padding:30px 20px;
}
.desc-prod h5{
    color:var(--blueBright);
}
.footer-prod{
    padding:0 20px;
}

.desc-prod-scrll{
	overflow-y: scroll;
    height:200px;
}
/* .desc-prod p{
    font-size:1em; */
/* } */

.footer-prod{
    max-height:200px;
    height:200px;
}

.footer-prod>span{
    font-size:1.3em;
    color:var(--blueBright);

}
.footer-prod p{
    font-size:1.7rem;

}
.footer-prod p>span{
    font-weight: 700;
}
.footer-prod p>span:first-child{
    text-decoration:line-through;
    color:var(--redRoboto);

}
.footer-prod p>span.no-line-thru{
    text-decoration:none;
    color:var(--fa-2);

}

.cont-carac-gener{
    padding:10px;

}
.caract-gener{
    height: 200px;
	width: 100%;
	overflow-y: scroll;
}

.cont-carac-gener h5{
    color:var(--fa-2);
}

.scrolleable{
    height: auto;
}
.verProducto-enlaces .product-title{
    display:flex; 
    justify-content:space-between;
 }
/* ----------------------------- catalogo-productos.html ------------------------------- */

.section-catalogo{
    /* margin-top:80px; */
    padding:40px 20px;
}

/* ----------------------------- Modal ------------------------------- */
.modal-body{
    min-height:500px;
 } 
/* .btn-close{ 
    background-color:var(--bs-light);
} */
.modal-header{
    background-color:var(--fa-1);
    color:var(--bs-white);
}
.modal-content{
    background-color:var(--bs-white);
}

/* .modal-img{
    overflow:hidden;
} */
.cont-modal-img{
    width:100%;
    height:100%;
    overflow:hidden;
}
.cont-modal-img img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    object-position: center;
}

.modal-desc{
    /* height:100%; */
    padding:20px;
}

.btn-wa{
    padding:10px 40px;
    /* width:150px; */
    background:#25d366;
    color:var(--bs-light);
    font-weight: bold;
    border-radius:10px;
    font-size:1.3rem;
    display:flex;
    align-items:center;
    gap:10px;
    transition:all .4s ease;
    border:none;
    text-decoration:none;
}
.btn-wa span:first-child{
    font-size:35px;
}

.btn-wa:hover{
    background:#1cc459;
    color:var(--bs-light);
    transition:all .4s ease;

}


.precio_tachado{
    text-decoration:line-through;
    color:var(--redRoboto) !important;
}
/* -------------------------------- Footer -------------------------------------- */

footer{
    min-height:340px;
    background-color:#2F5D80;
    color:var(--bs-white);
    padding:20px 0;
    display:flex;
    align-items:center;
}
footer p{
    padding:10px 0;
    text-align:justify;
}
footer a{
    color:var(--bs-light);
    text-decoration:underline;

}
footer a:hover{
    color:var(--yellowMostaza);
}
/* .footer-copy{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
} */
.icon-container{
    padding-top:5px;
    display:flex;
    justify-content: space-around;
    gap:10px;
    width:50%;
    margin:auto;
}
.icon-container .icon{
    transition: all .4s ease-in-out;
    border-radius:100%;
}
.icon-container .icon:hover{
    transition: all .4s ease-in-out;
    background:var(--bs-white);
}
.icon-container svg{
    width:40px;
    fill:var(--bs-white);
    transition: fill .4s ease-in-out;
}
.icon-container svg:hover{
    fill:var(--yell-3);
    transition: fill .4s ease-in-out;

}
.footer-ubi{
    display:flex;
    gap:5px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.footer-ubi a{
    background: var(--bs-white);

}
.footer-ubi a:hover{
    background:var(--gradient-1);
}

.footer-ubi svg{
    width:100px;
}
/* -------------------------------- Seccion de Responsive -------------------------------------- */

/* Escritorio pantalla grande */
@media only screen and (min-width: 1400px){
    /* ----------------------------- show producto ------------------------------- */

    .contenedor-img-prod img{
        width:80%;
    }
}
/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
/* ----------------------------- Index ------------------------------- */

    .card-text-oferta{
        padding: 10px 20px;       
        max-width:300px;
    }

/* ----------------------------- Modal ------------------------------- */

    .cont-modal-img{
        width:70%;
        height:250px;
        margin:auto
    }
    .cont-modal-img img{
        width:100%;
    }
/* ----------------------------- verProducto.html ------------------------------- */
    .contenedor-img-prod{
        height:auto;
    }
    .contenedor-img-prod img{
        width:50%;
    }
    
    .desc-prod-scrll{
        height:200px;
    }
    .desc-prod{
        border-top:1px solid var(--bs-border);
    }
    .footer-prod{
        border-top:1px solid var(--bs-border);
    }
}
/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    /* ----------------------------- Navbar ------------------------------- */

    #menubar ul{
        width:100%;
    }
    .img-logo-nb{
        padding:5px 0;
        height:50px;
        max-height:50px;
    }
    .img-logo-nb img{
        width:50%;
        height:auto;
        /* max-height: 40px; */
    }
    /* ----------------------------- Index ------------------------------- */

    .prod-oferta{
        padding:10px;
    }
    .prod-oferta img{
        width:100%;
    }
    .card-text-oferta{
        padding: 10px;       
        max-width:250px;
        transform:translateX(20px);
    }
    .card-text-oferta>p>span{
        font-size:1em;
    }

    .product .itemBox{
        width:250px;
        height:430px;
        margin:5px;
        overflow:hidden;
    }
    /* .col-precios-cards{
        transform:translateX(-10px);
    } */
/* ----------------------------- Modal ------------------------------- */
    .cont-modal-img{
        width:70%;
        height:250px;
        margin:auto
    }
    .cont-modal-img img{
        width:100%;
    }

/* ----------------------------- Index.html ------------------------------- */
    .cont-text-oferta{
        padding:0;
        height:auto;
        justify-content:center;
    }
    .text-oferta{
        justify-content: center;
    }
    .text-oferta h4{
        font-size:1.1rem;
    }
    .text-oferta h3{
        font-size:1.3rem;
    }
    .text-oferta a{
        align-self: center;
    }
    .cont-prod-oferta{
        justify-content:center;
    }
    /* .prod-oferta img{
        width:50%;
    } */


    /* ----------------------------- verProducto.html ------------------------------- */
    .section-ver-producto{
        padding-top:20px;
    }
    .contenedor-img-prod{
        height:auto;
    }
    .contenedor-img-prod img{
        width:50%;
    }
    .desc-prod{
        padding:15px;
    }
    
    .desc-prod-scrll{
        height:200px;
    }
    .footer-prod{
        padding:15px;
    }
    .desc-prod p{
        margin-top:0;
        font-size:1.1rem;
    }
    .footer-prod p{
        font-size:1.7rem;
    
    }
    .desc-prod{
        border-top:1px solid var(--bs-border);
    }
    .footer-prod{
        border-top:1px solid var(--bs-border);
    }
    /* ----------------------------- Footer ------------------------------- */
    footer{
        padding:50px 0;
    }
}

/*Celulares*/
@media only screen and (max-width: 575px){

    /* ----------------------------- Navbar ------------------------------- */

    #menubar ul{
        width:100%;
        justify-content:space-between;
        font-size:.9em;
    }

    /* ----------------------------- Index ------------------------------- */
    .globo-oferta{
        padding-bottom:20px;
    }
    .prod-oferta{
        padding:10px;
    }
    .prod-oferta img{
        width:90%;
    }
    .card-text-oferta{
        padding: 10px;       
        max-width:250px;
        transform:translateX(20px);
    }
    .card-text-oferta>p>span{
        font-size:1em;
    }

    .product .itemBox{
        width:250px;
        height:430px;
        margin:5px;
        overflow:hidden;
    }

    .cont-text-oferta{
        padding:0;
        height:auto;
        justify-content:center;
    }
    .text-oferta{
        justify-content: center;
        padding-bottom:0;
        /* padding:0; */
    }
    .text-oferta h4{
        font-size:1.1rem;
    }
    .text-oferta h3{
        font-size:1.3rem;
    }
    .text-oferta span{
        font-size:1rem;

    }
    .text-oferta a{
        align-self: center;
    }
    .text-fecha-oferta h4{
        font-size:1.2em;
    }
    .product .itemBox .image .imgs {
        height:57%;
    }
        
        
    .product .itemBox .image .image-body{
        padding:5px;
        height:53%;
        
    } 

    .cont-prod-oferta{
        justify-content:center;
    }
    .col-btns-cards a{
        width:100% !important;
    }

    .tag-cod{
        font-weight:500;
    }
    /* ----------------------------- Modal ------------------------------- */
    /* .modal-fullscreen-sm-down{
        position:relative;
        left:-8px;
        top:-8px;
    } */
    .modal-body{
        min-height:auto;
    }

    /* ----------------------------- verProducto.html ------------------------------- */
    /* .contenedor-producto{
        
    } */
    .section-ver-producto{
        padding-top:10px;
    } 
    .contenedor-img-prod{
        height:auto;
    }
    .contenedor-img-prod img{
        width:60%;
    }
    .desc-prod{
        height:auto;
        padding:15px;
    }
    .desc-prod-scrll{
        height:200px;
    }
    .desc-prod{
        border-top:1px solid var(--bs-border);
    }
    .footer-prod{
        border-top:1px solid var(--bs-border);
    }
    .caract-gener{
        height: 150px;
    }

    .footer-prod{
        padding:15px;
    }
    .desc-prod p{
        margin-top:0;
        font-size:1rem;
    }
    .footer-prod p{
        font-size:1.4rem;
    
    }
    .footer-prod p>span{
        font-size:1.45em;
    }
    .verProducto-enlaces .product-title{
       display:flex; 
       flex-direction:column;
       justify-content:center;
       align-items:center;
    }
    .verProducto-enlaces .product-title h3{
        font-size:1.3em;
    
    }
    .verProducto-enlaces .product-title h5{
        font-size:1.1em;
    }


    /* ----------------------------- Footer ------------------------------- */
    footer{
        padding:50px 0;
    }
}

@media only screen and (max-width:475px){

/* ----------------------------- Inicio ------------------------------- */
    .globo-oferta{
        padding:0;
    }

    .prod-oferta img{
        width:200px;
    }
    .card-text-oferta{
        padding: 10px;       
        max-width:auto;
        transform:translateX(0);
    }

    .text-oferta{
        padding:30px 10px;
        
    }
    .text-oferta h1{
        font-size:1.6em;
        font-weight: 700;
    }
    .btns-oferta{
        flex-direction:column;
        gap:5px;
    }

    .product .itemBox .image .oferta{
        
        height:100px;
        width:200px;
        top:-40px;
        right:-90px;
        font-size:.85em;
    }

    .product .itemBox{
        width:46%;
        height:380px;
        margin:5px;
    }

    .product .itemBox .image .imgs {
        overflow:hidden;
        width:100%;
        height:55%;
    }
        
        
    .product .itemBox .image .image-body{
        padding:5px;
        height:55%;
        
    } 
    .image-body h6{
        font-size:.9em;
    }
    .btns span{
        color:var(--fa-2);
        font-weight:300;
    }
    .col-btns-cards{
        /* width:100%; */
        align-items:center !important;
        justify-content:center;
    }
    .col-btns-cards a{
        font-size:13px;
        padding:6px;
        width:100% !important;

    }
    .col-precios-cards{
        font-size: .85em;
        /* text-align:start; */
    }
    .col-precios-cards span{
        font-weight: 700;
        /* font-size:1.1em; */

    }
/* ----------------------------- inicio catalogo ------------------------------- */

    .items .list{
        font-size:13px;
    }

/* ----------------------------- Modal ------------------------------- */
    .cont-modal-img{
        width:70%;
    }
     /* ----------------------------- verProducto.html ------------------------------- */

    .contenedor-img-prod img{
        width:60%;
    }
    .cont-carac-gener h5{
        font-size:1.06em;
    }
    .desc-prod h2{
        font-size:1.3em;
    }
    .desc-prod h5{
        font-size:1.05em;
        margin-bottom:20px;
    }

    
    .footer-prod>span{
        font-size:1.1em;

    }
    .footer-prod p{
        font-size:1.3rem;

    }
    .footer-prod p>span{
        font-weight: 700;
        font-size:1.4em
    }

    .verProducto-enlaces .product-title h3{
        font-size:1.2em;
    
    }
    .verProducto-enlaces .product-title h5{
        font-size:1em;
    
    }
    /* .verProducto-enlaces .product-title h3 span:first-child{
        display:none;
    } */
}

@media only screen and (max-width:425px){
/* ----------------------------- Ininio ------------------------------- */
    
    .prod-oferta img{
        width:180px;
    }
    
    .text-oferta h1{
        font-size:1.4em;
        font-weight: 700;
    }

    .text-oferta h4{
        font-size:.95em;
    }
    .text-oferta p{
        font-size:.95em;
    }

    .product-title h3{
        font-size:1.4em;
    }
    .text-fecha-oferta h4{
        font-size:1em;
    }
    .product .itemBox .image .oferta{
        
        top:-44px;
        right:-94px;
        font-size:.85em;
    }
    .product .itemBox .image .oferta span{
        width:30%;
        text-align: center;

    }

    .product .itemBox{
        /* width:46%; */
        height:380px;
        margin:5px;
    }
    /* .product .itemBox .image .imgs { 
        height:55%;
    }
    .product .itemBox .image .image-body{
        /* padding:5px; */
        /* height:55%; */
        
    /* }  */


    .verProducto-enlaces .product-title h3{
        font-size:1em;
    
    }
    .verProducto-enlaces .product-title h5{
        font-size:.9em;
    
    } 
}

/*Celulares angostos*/
@media only screen and (max-width:375px){

   
/* ----------------------------- Inicio ------------------------------- */
    .section-ofertas{
        margin:10px 3px;
        /* border:1px solid #000; */
        padding:0;
        background: var(--gradient-1);
        border-radius: 40px;
        box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
    }

    .globo-oferta{
        /* border:1px solid #000; */

        background: none;
        border-radius: none;
        box-shadow:none ;
    
    }
    .product-title h3{
        font-size:1em;
    }
    .text-fecha-oferta h4{
        font-size:.92em;
    }
    .product{
        gap:5px;
    }
    .product .itemBox{
        width:49%;
        height:360px;
        margin:0;
        /* overflow:auto; */
    }
    .product .itemBox .image .imgs {
        height:50%;
    }
    .product .itemBox .image .image-body{
        /* padding:5px; */
        height:50%;
        
    } 

    .text-oferta h1{
        font-size:1.2em;
        font-weight: 700;
    }
    .prod-oferta img{
        width:160px;
    }

    .col-precios-cards{
        /* width:100%; */
        transform:translateX(0);
        font-size:.85em;

    }
    .col-btns-cards a{
        /* padding:7px; */
        width:100%;
        font-size:13px;
    }
    .col-btns-cards a:last-child{
        padding:7px;

    }

/* ----------------------------- Modal ------------------------------- */
    .cont-modal-img{
        width:70%;
    }

    /* ----------------------------- verProducto.html ------------------------------- */

    .contenedor-img-prod img{
        width:70%;
    }

    .cont-carac-gener h5{
        font-size:1.03em;
    }
    .desc-prod h2{
        font-size:1.2em;
    }
    .desc-prod h5{
        font-size:1em;
    }
    .desc-prod-scrll{
        height:150px;
    }
    .footer-prod>span{
        font-size:1em;

    }
    .footer-prod p{
        font-size:1.1rem;

    }
    .footer-prod p>span{
        font-weight: 600;
        font-size:1.2em
    }
}

@media only screen and (max-width:330px){
    /* ------------------------ navbar ---------------------------- */
    #menubar{
        max-height:70px;
    }
    #menubar li{
        text-align:center;
    }
    /* ------------------------ Catalogo ---------------------------- */
    
    .product .itemBox{
        width:270px;
        height:410px;
    }
    .product .itemBox .image .oferta{
        
        top:-35px;
        right:-85px;
        transform: rotate(45deg);
        z-index:2;
        color:var(--bs-light);
        background-color:var(--redSound);
    }
    .product .itemBox .image .imgs {
        height:55%;
    }
    .product .itemBox .image .image-body{
        padding:10px 5px;
        height:55%;
    
    }

    .image-body h6{
        font-size: 1em;
    }

    .col-btns-cards a{
        padding:8px;
        font-size:1.1em;
    }
    .col-precios-cards{
        font-size:1em;
        transform:translateX(0);
        text-align:center;
    }
}